body{
    font-family: serif;
}

#local{
    width: 100%;
    background-color: orangered;
    padding: 15px 0px;
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

#cities{
    border-collapse: collapse;
    width: 100%;
}

#cities td{
    border: 1px solid #dedede;
    padding: 8px;
}

#cities tr:nth-child(even){
    background-color: darkgrey;
}

.col1{
    width: 15%;
    text-align: center;
    justify-content: center;
}
.col2{
    width: 45%;
    margin: auto;
}